# Ignore development container configuration
.devcontainer/

# Python artifacts
__pycache__/
*.py[cod]

# Virtualenv
venv/
env/

# Output and model artifacts
output/
trained_model/
.idea/
__pycache__/
*.py[cod]
*$py.class
.env
output/
.devcontainer/
